{% extends "base.html" %}

{% block title %}CodeTutor{% endblock %}

{% block content %}
	{% if tutorials.items %}
		{% for tutorial in tutorials.items %}
			{{ tutorial.title }}
		{% endfor %}
	{% else %}
            <h1>No have tutorials</h1>
	{% endif %}
	{% if tutorials.has_prev %}
		<a href="{{ url_for('blog.index', page=tutorials.prev_num) }}">Newer tutorials</a>
	{% endif %}
	{% if tutorials.has_next %}
		<a href="{{ url_for('blog.index', page=tutorials.next_num) }}">Older tutorials</a>
	{% endif %}
{% endblock %}
