{% macro nav_link(endpoint, text) %}
	{% if request.endpoint == endpoint %}
		<li class="nav-item active">
        	<a
        		class="nav-link"
        		href="{{ url_for(endpoint) }}"
        	>
        		{{ text }} <span class="sr-only">(current)</span>
        	</a>
      	</li>
	{% else %}
		<li class="nav-item">
        	<a
        		class="nav-link"
        		href="{{ url_for(endpoint) }}"
        	>
        		{{ text }}
        	</a>
      	</li>
	{% endif %}
{% endmacro %}

{% macro create_field(field, placeholder=None) %}
	{% if field.errors %}
		<div class="form-group">
			{{ field(class_="form-control is-invalid", placeholder=placeholder) }}
		</div>
		{% for error in field.errors %}
			<div class="text-center alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ error|upper }}
			</div>
		{% endfor %}
	{% else %}
		<div class="form-group">
			{{ field(class_="form-control", placeholder=placeholder) }}
		</div>
	{% endif %}
{% endmacro %}